.title {
    background: var(--xl-theme-color);
    border-top: 1px solid var(--xl-theme-card-border-color);
    color: var(--xl-theme-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  